:root {
  --fw-accordion-body-font-size: 1.1rem;
  --fw-accordion-body-line-height: 1.5rem;
  --fw-font-family: 'Noto Sans Mono', monospace;
  --fw-accordion-title-font-size: 1.6rem;
  --fw-accordion-body-font-size: 1.1rem;
  --fw-accordion-body-line-height: 1.5;
  --fw-accordion-body-background-color: #ececec;
}

body {
  background-color: rgb(78, 123, 192);
  font-size: 2rem !important;
  /* font-family: monospace !important; */
  padding-bottom: 8%;
}

.accordion-wrapper {
  display: grid;
  grid-template-columns: [content-start] minmax(400px, 0.75fr) [content-end];
  gap: 1rem;
  place-content: center;
}

ul li {
  margin-bottom: 16px;
}

ol {
  margin-bottom: 1rem;
}

a {
  font-size: var(--fw-accordion-body-font-size);
}
